<div class="mobile-menu-div">
    <ol class="mobile-menu">
        <li class="mobile-menu-item right-border-item">
            <img src="assets/images/icon-home.svg" alt="Home icon" class="icon">
            <p class="mobile-menu-title">Home</p>
        </li>
        <li class="mobile-menu-item right-border-item">
            <img src="assets/images/icon-search.svg" alt="Search icon" class="icon">
            <p class="mobile-menu-title">Search</p>
        </li>
        <li class="mobile-menu-item right-border-item">
            <img src="assets/images/icon-archive.svg" alt="Archive icon" class="icon">
            <p class="mobile-menu-title">Archive</p>
        </li>
        <li class="mobile-menu-item right-border-item">
            <img src="assets/images/icon-tag.svg" alt="Tag icon" class="icon">
            <p class="mobile-menu-title">Tag</p>
        </li>
        <li class="mobile-menu-item">
            <img src="assets/images/icon-settings.svg" alt="Setting icon" class="icon">
            <p class="mobile-menu-title">Settings</p>
        </li>
    </ol>
</div>