$font: sans-serif;

$backgound-login-color: #F3F5F8 !default;
$background-color: #FFFFFF !default;
$login-color: #FFFFFF !default;
$text-primary: #0E121B !default;
$text-secondary: #525866 !default;
$button-primary: #335CFF !default;
$button-secondary: #FB3748 !default;