<div class="all-notes-div">
    <button class="create-note-btn">+ Create New Note</button>
    <div class="notes-list-div">
        <ul class="notes-list">
            <li class="note-item">
                <h3>React Performance Optimization</h3>
                <div class="note-item-tags-div">
                    <span class="note-item-tag">Dev</span>
                    <span class="note-item-tag">React</span>
                </div>
                <p class="note-item-last-edited"></p>
            </li>
        </ul>
    </div>
</div>
