@use "../../../styles.scss" as *;

.login-div{
    padding: 1rem;
}

.title{
    font-size: 26px;
    text-align: center;
    margin-top: 1rem;
}

.login-message{
    font-size: 14px;
    text-align: center;
    margin-top: 0.5rem;
}

form{
    margin-top: 3rem;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-div{

        margin-bottom: 1rem;
        border-radius: 5px;
        position: relative;

        label{
            display: block;
            font-size: 14px;
            font-weight: 600;
        }

        input{
            width: 444px;
            height: 40px;
            border-radius: 5px;
            border: none;
            margin-top: 0.5rem;
            padding: 0.5rem;

              @media (max-width: $mobile){
                    width: 311px;
        }  

        }

            .forgot-password-anchor{
                position: absolute;
                right: 0;
                top: -3%;
                font-size: 13px;
                text-decoration: none;
                color: #0E121B;
            }
        }
        .login-btn{
            width: 444px;
            height: 44px;

                @media (max-width: $mobile){
                    width: 311px;
            }  
        }
}

.signup-paragraph{
    font-size: 15px;
    text-align: center;

    .signup-anchor{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
}