<div class="navigation-menu">
    <div class="content-div">
        <ol class="content-list">
            <div class="content">
                <img src="assets/images/icon-home.svg" alt="home icon" class="content-img icon">
                <p class="content-paragraph">All Notes</p>
            </div>
            <div class="content">
                <img src="assets/images/icon-archive.svg" alt="archive icon" class="content-img icon">
                <p class="content-paragraph">Archived Notes</p>
            </div>
        </ol>
    </div>
    <div class="tags-div">
        <ul class="tags-list">
            <div class="tag">
                <img src="assets/images/icon-tag.svg" alt="tag icon" class="tag-img icon">
                <p class="tag-paragraph">Cooking</p>
            </div>
        </ul>
    </div>
</div>

