.navigation-menu{
    position: absolute;
    left: 0%;
    top: 0%;
    margin-right: 272px;
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 2rem 1rem 1rem 1rem;
    border-right: 1px solid hsla(0, 0%, 50%, 0.644);
    height: 100vh;

    @media (max-width: 900px) {
        display: none;
    }
}

.logo-div{

    @media (max-width: 900px) {
        display: none;
    }
}


.content-div{
    height: 84px;
    width: 240px;
}

.content-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.content, .tag{
    display: flex;
    align-items: center;
    height: 40px;
}

.content-img, .tag-img{
    margin-right: 1rem;
}

hr{
    border: 1px solid hsla(0, 0%, 50%, 0.644);
    width: 100%;
}