@import "../../styles.scss";

:host{
    @include grid-col(12);
    @include grid-row(1);

}

.header-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    height: 81px;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.644);

    @media (max-width: 1150px) {
        display: none;
    }
}

.header-mobile{
    display: none;

    @media (max-width: 1150px) {
        height: 81px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 3rem;
    }
}

.options-div{
    min-width: 300px;
    display: flex;
    justify-content: space-between;

    
    .search-btn:hover{
        cursor: pointer;
    }
}

.search-div{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    input{
        width: 80%;
        height: 44px;
        padding: 0 0.3rem 0 2.5rem;
        border-radius: 10px;
        border: 0.5px, solid grey;
        outline: none;
    }

    img{
        position: absolute;
        left: 2%;
    }
}