@use "../../styles.scss" as *;

.container-div{
    // height: 523px;
    width: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -54%);
    display: flex;   
    align-items:center;
    flex-direction: column;
    font-family: Arial;
    border-radius: 10px;

   @media (max-width: $mobile){
        // height: 503px;
        width: 343px;
   } 
}

.logo-div{
    margin-top: 3rem;
}