main{
    width: 540px;
    height: 646px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    @media (max-width: 700px) {
        height: 603px;
        width: 343px;
        padding: 1rem;
    }
}