
<main>
    <div class="logo-div">
        <img src="/assets/../assets/images/logo.svg" alt="logo">
    </div>
    <div class="create-account-div">
        <h1 class="title">Create Your Account</h1>
        <p class="text-secondary sign-up-message">Sign up to start organizing your notes and boost your productivity.</p>
    </div>
    <form action="" >
        <div class="input-div">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" placeholder="email@example.com">
        </div>
        <div class="input-div">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="input-div">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password">
        </div>
        <button class="register-btn">Sign Up</button>
    </form>
            <div class="google-login">
                <p class="google-login-text text-secondary">Or log in with:</p>
                <button class="google-login-btn">Google</button>
            </div>
            <p class="text-secondary text-no-account">No account yet? <a [routerLink]="['/register']" class="text-primary anchor-sign-up">Sign up</a></p>
</main>