<div class="text-editor-div">
  <div class="text-details">
    <input type="text" name="title" id="title" placeholder="Title...">
  </div>
    <div class="toolbar">
        <button (click)="formatText('bold')" class="toolbar-text-format-btn"><b>B</b></button>
        <button (click)="formatText('italic')" class="toolbar-text-format-btn"><i>I</i></button>
        <button (click)="formatText('underline')" class="toolbar-text-format-btn"><u>U</u></button>
        
        <!-- Text Size Selector -->
        <select (change)="changeTextSize($event)" class="toolbar-text-size">
          <option value="12px">12px</option>
          <option value="14px">14px</option>
          <option value="16px" selected>16px</option>
          <option value="18px">18px</option>
          <option value="20px">20px</option>
          <option value="24px">24px</option>
          <option value="28px">28px</option>
        </select>
      </div>
    
    <div class="editor"
    contenteditable="true"
    (input)="onContentChange($event)"
    #editor>>
        Start typing here...
    </div>
    <div class="text-editor-options">
        <button class="btn save-btn" (click)="saveContent()">Save Note</button>
        <button class="btn delete-btn" (click)="deleteContent()">Delete Note</button>
    </div>
</div>




