
$themes:(
    light:(
        background-primary: #E0E4EA,
        background-secondary: #525866,
        title: #0E121B,
        text-primary: #232530,
        text-secondary:#525866,
        button:#335CFF,
        button-delete:#FB3748,
    ),
    dark:(
        background-primary: #2B303B,
        background-secondary: #232530,
        title: #FFFFFF,
        text-primary: #F3F5F8,
        text-secondary:#CACFD8,
        button:#335CFF,
        button-delete:#FB3748,
    )
);

@mixin themify($themes) {
    @each $name, $values in $themes {
      .#{$name}-theme {
        $theme-map: $values !global; 
        @content;
      } 
    } 
  }
  
  @function themed($map, $key) {
    @return map-get($map, $key);
  }