@use "styles/themes.scss" as *;

//Variables
$mobile: 480px;
$tablet: 767px;
$laptop: 1025px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    background-color: (--background-login-color);
}

body{
    background-color: var(--background-color);
}

.btn{
    background-color: var(--button-primary);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}